<div class="container">
  <div class="row">
    <div class="col-lg-6">


      <div class="container">
        <div class="row">
          <div class="p-3 mb-2 bg-primary text-white" style="margin-top:20px;">
            <h5>{{{nomauteur}}}</h5>
            <h4>{{{textstatut}}}</h4>
            <h6>{{{timetweet}}}</h6>
          </div>



          <div class="p-3 mb-2 bg-primary text-white" style="margin-top:20px;" >
            <h5>{{{nomauteur}}}</h5>
            <h4>{{{textstatut}}}</h4>
            <h6>{{{timetweet}}}</h6>
          </div>



          <div class="p-3 mb-2 bg-primary text-white" style="margin-top:20px;">
            <h5>{{{nomauteur}}}</h5>
            <h4>{{{textstatut}}}</h4>
            <h6>{{{timetweet}}}</h6>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>